* {
    margin: 0;
    padding: 0;
}
body {
    background: #dfe9f5;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    width: 100%;
    top: 0;
    height: 80px;
    position: relative;
    background: blue;
    justify-content: space-between;
}
.header h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    text-indent: 50px;
    margin-top: 15px;
}
.user-btn {
    position: relative;
    display: inline-block;
    margin: 22.5px 50px 20px 20px;
}
.user-btn .fas {
    font-size: 30px;
}
.user-content {
    position: absolute;
    right: 0;
    display: none;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.user-btn:hover .user-content{
    display: block;
}
.user-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.user-content a:hover {
    background-color: #ddd;
}
.sidebar-container {
    height: 100%;
    width: 200px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-200px);
}
.sidebar-container .head {
    color: #fbfdce;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#df0155,#ed4901);
}
.import-btn {
    display: block;
    width: 145px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    gap: 10px;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}
.export-btn {
    display: block;
    width: 145px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    gap: 10px;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
input[type="checkbox"] {
    display: none;
    appearance: none;
    visibility: hidden
}
span {
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}
#bars {
    background: red;
}
#check:checked ~ .sidebar-container {
    transform: translateX(0);
}
#check:checked ~ .sidebar-container #bars {
    display: none;
}
.split-btn {
    display: flex;
}
.split-btn button {
    font-size: 1em;
    background-color: #1af;
    color: #fff;
    border-style: none;
    padding: 8px 16px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
}
.split-btn .dropdown {
    display: none;
    position: absolute;
    width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 25px;
    margin-top: 60px;
}
.split-btn .dropdown button {
    background-color: #f9f9f9;
    color: black;
    width: 100%;
    text-align: center;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
}

.import {
    display: flex;
}
.import button {
    font-size: 1em;
    background-color: #1af;
    color: #fff;
    border-style: none;
    padding: 8px 16px;
    border-radius: 4px 4px 4px 4px;
}
.table-container {
    border: 1px solid black;
    padding: 10px;
    margin-left: 45px;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-header {
    background-color: #707677;
}
.title {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 10px;
}
.table-container .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-container thead th {
    border: 1px solid black;
}
.search-bar {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-bar input {
    width: 200px;
    padding: 5px;
    border: 1px solid black;
}
.table-section {
    height: 650px;
    overflow: auto;
}
.table-section table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
}
.table-section thead th {
    position: sticky;
    top: 0;
    border: 1px solid black;
    background-color: #BAFF39;
}
.table-section tbody td {
    border: 1px solid black;
    text-align: center;
}
.icon-btn-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.delete-btn .rename-btn .file-info-btn {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}
.delete-btn:hover {
    background-color: red;
    color: white;
}
.rename-btn:hover {
    background-color: green;
    color: white;
}
.file-info-btn:hover {
    background-color: black;
    color: white;
}
.icon-btn-column li {
    list-style: none;
    margin: 5px 5px;
}
.icon-btn-column .fas {
    font-size: medium;
}




.icon-btn {
    position: relative;
    display: inline-block;
    margin: 20px 20px 20px 20px;
}
.icon-btn .fas {
    font-size: 20px;
}
.icon-ctn {
    position: absolute;
    right: 0;
    display: none;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.icon-btn:hover .icon-ctn {
    display: block;
}
.icon-ctn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.icon-ctn a:hover {
    background-color: #ddd;
}